.board {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 2rem;
        background: #fff;
        padding: 2rem 5rem;
        border-radius: 1rem;
        gap: 1rem;
        box-shadow: .5rem 1rem 2rem rgba(0,0,0,.1);
    }
    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
        &__nombre {
            font-size: 3rem;
        }
        &__nom {
            font-size: 1.5rem;
            color: $brandGreen;
        }
    }
}