.contactPage {
    background: $brandGreenLight;
    padding: 2rem 0;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    @include breakpoints($tablet) {
        flex-direction: column;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 40rem;
        @include breakpoints($mobile) {
            max-width: 30rem;
        }
    }
    &__title {
        font-size: 3rem;
    }
    &__options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__option {
        display: flex;
        align-items: center;
        gap: .5rem;
        &:hover {
            color: $brandGreen;
        }
    }
    &__img {
        width: 45rem;
        border-radius: 1rem;
        @include breakpoints($mobile) {
            width: 30rem;
        }
    }
}