.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    &__text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50rem;
        h3 {
            color: $brandGreen;
            font-weight: 400;
            font-size: 2rem;
        }
        h1 {
            font-size: 4rem;
            font-weight: 400;
        }
        p {
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.8;
        }
    }
    &__img {
        width: 40rem;
    }
}