.icon {
    font-size: 1.5rem;
    &--check {
        font-size: 2.4rem;
        color: $brandGreen;
        background: #DCE9E2;
        padding: .5rem;
        border-radius: 50%;
    }
    &--socialMedia {
        color: #fff;
        font-size: 2rem;
        &:hover {
            opacity: .8;
        }
    }
    &--menu {
        display: none;
        color: #fff;
        font-size: 2.2rem;
        @include breakpoints($tablet) {
            display: block;
        }
    }
}